html{
    margin: 0 ;
    font-family: 'Montserrat', sans-serif ; 
   
    
}
/* BACKGROUND IMAGE */
body{
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    
}

.content{
    height: 100%;
}


/* THE TOP WITH THE LOGO / LINKS / LOGIN BUTTON */

/* MENU CONTAINER WITH DISPLAY FLEX TO ITEMS LOGO/ LINKS / LOGIN BUTTON */
.top-page{
    display: flex;
 
    margin: 1.2rem;    
    justify-content: space-between;
  
    align-items: center;
   
}
/* LOGO */
.top-page .logo{
    font-size: 33px;
    margin: 12px 12px;
    
    font-weight: 900;

    color: white;
    position: relative;
    top: -30px;
    
}

/* LINKS INICIO / SOBRE */
.links a{
    text-decoration: none;
    color:white;
    
 
    margin-right: 80px;
    font-size: 30px;
    font-weight: 800;

    
}
/* HOVER TO LINKS INICIO / SOBRE */
.links a:hover{
    border-bottom: 1px solid black;
    transition: 1s;
}

/* TOP-RIGHT BUTTON 'LOGIN' */
.top-page button{

    background-color: white;
    color: black;
    border-radius: 40px;
    outline: none;
    border: none;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 50px 50px;
    font-size: 20px;
    font-weight: bold;

    position: relative;
    top: -30px;
    right: 4%;
}
/* HOVER TO TOP-RIGHT BUTTON 'LOGIN' */
.top-page button:hover{
    transition: 0.7s ;
    background-color: black;
    color:white;
}

/* HERE START THE MAIN CONTENT WITH A CARD WITH A TEXT */

.content{
    text-align: center;
   
    padding-left: 30px ;
    padding-right: 30px;
    margin: 50px 50px;
    font-size: 40px;
  
}
/* SPACE LEFT AND RIGHT OF THE TEXT FROM BORDERS OF THE CARD */
.content p{
    padding-left: 10px;
    padding-right: 10px;
  
}
/* THE BACKGROUND CARD HOLDING THE TEXT */
.card{
   
    background-color: white;
    border-left: 7px solid black;
    border-right: 7px solid black;
    padding-top: 90px;
    padding-bottom: 90px;
    
    
    
}


/* AJUSTMENTS FOR MOBILE SCREEN */

@media(max-width:990px){
    .links a{
        margin: 40px 40px ;
       
    }

  
}